# Virtual Environment
venv/
.venv/
env/

# Databases
data/db/*.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Streamlit Local Configs
.streamlit/
